In [510]:
import numpy as np
import pandas as pd

In [ ]:
# This is the work for monday

In [511]:
file_1 = pd.read_csv('Data/file1.csv') # reading the docus into the different variables
file_2 = pd.read_csv('Data/file2.csv')
file_3 = pd.read_csv('Data/file3.csv')

file_1.head() # getting an idea of what the table and its columns look like
file_2.head()
file_3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [512]:
file_1.rename(columns={'ST': 'State'}, inplace=True) # renaming the column 'ST' into 'state'
file_2.rename(columns={'ST': 'State'}, inplace=True) # renaming the column 'ST' into 'state'

In [513]:
file_1.rename(columns={'GENDER': 'Gender'}, inplace=True) # renaming the column 'GENDER' into 'Gender'
file_2.rename(columns={'GENDER': 'Gender'}, inplace=True) # renaming the column 'GENDER' into 'Gender'

In [514]:
file_2 = file_2[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']] # rearranging the columns to make sure they line up for concating
file_3 = file_3[['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']]

In [515]:
analysis_df = pd.concat([file_1,file_2,file_3], axis=0) # concating the three files
analysis_df

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [516]:
analysis_df.columns = [i.lower() for i in analysis_df.columns] # changing column names to lowercase

In [517]:
analysis_df.reset_index(inplace=True) # resetting the index of the dataframe

In [518]:
analysis_df.head()

,index,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [519]:
analysis_df.drop_duplicates()

,index,customer,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...,...
12069,7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [520]:
analysis_df.drop(['index'], axis=1, inplace=True) # dropping the second index column to avoid duplication.
analysis_df.drop(['customer'], axis=1, inplace=True) # dropping the customer column

In [521]:
analysis_df['gender'].unique() # cleaning up the 'Gender' column
def clean_gender(x):
    if x in ['M', 'Male']:
        return 'M'
    elif x in ['F', 'Femal', 'female']:
        return 'F'
    else:
        return 'NaN'

In [522]:
analysis_df.info() # getting an overview of the different data types in the data framework

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      9137 non-null   object
 1   gender                     9015 non-null   object
 2   education                  9137 non-null   object
 3   customer lifetime value    9130 non-null   object
 4   income                     9137 non-null   float64
 5   monthly premium auto       9137 non-null   float64
 6   number of open complaints  9137 non-null   object
 7   policy type                9137 non-null   object
 8   vehicle class              9137 non-null   object
 9   total claim amount         9137 non-null   float64
dtypes: float64(3), object(7)
memory usage: 943.4+ KB

In [523]:
analysis_df.head()

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [524]:
# customer lifetime value and number of open complaints

In [525]:
analysis_df['customer lifetime value'] = analysis_df['customer lifetime value'].astype('string') # changing column to string type

In [526]:
analysis_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      9137 non-null   object
 1   gender                     9015 non-null   object
 2   education                  9137 non-null   object
 3   customer lifetime value    9130 non-null   string
 4   income                     9137 non-null   float64
 5   monthly premium auto       9137 non-null   float64
 6   number of open complaints  9137 non-null   object
 7   policy type                9137 non-null   object
 8   vehicle class              9137 non-null   object
 9   total claim amount         9137 non-null   float64
dtypes: float64(3), object(6), string(1)
memory usage: 943.4+ KB

In [527]:
analysis_df['customer lifetime value'] = analysis_df['customer lifetime value'].str.replace('%', '') # replacing the '%' with nothing
analysis_df.head()

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
0,Washington,NaN,Master,<NA>,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,Arizona,F,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,California,M,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,Washington,M,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [528]:
# clean the number of open complaints and extract the middle number which is changing between records.

In [529]:
# finding the '/', then taking the character to the right of it.

# analysis_df['number of open complaints'] = analysis_df['number of open complaints'].str[2]

In [548]:
analysis_df.tail(50)

,state,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount
12024,California,F,High School or Below,6679.139606,0.0,91.0,0,Personal Auto,Four-Door Car,655.200000
12025,California,F,High School or Below,4146.409412,0.0,116.0,1,Corporate Auto,SUV,556.800000
12026,California,M,Bachelor,3694.647081,0.0,102.0,0,Personal Auto,SUV,610.617285
12027,California,F,Master,4781.821034,30361.0,119.0,1,Personal Auto,Four-Door Car,373.289571
12028,California,M,College,3885.456401,0.0,105.0,0,Personal Auto,Four-Door Car,504.000000
12029,California,F,College,4737.411455,0.0,68.0,0,Personal Auto,Two-Door Car,326.400000
12030,California,M,Bachelor,9410.670129,96060.0,117.0,0,Corporate Auto,Four-Door Car,561.600000
12031,California,F,College,5878.447428,25398.0,74.0,0,Personal Auto,Four-Door Car,465.922152
12032,California,F,Bachelor,4547.321823,29031.0,61.0,2,Personal Auto,Four-Door Car,292.800000
12033,California,M,College,5926.38544,92949.0,74.0,0,Personal Auto,Two-Door Car,337.305815
12034,California,F,Bachelor,4873.672682,0.0,68.0,0,Corporate Auto,Four-Door Car,356.083230
12035,California,M,College,2580.849899,46900.0,66.0,0,Corporate Auto,Four-Door Car,316.800000
12036,California,M,College,7083.642205,97024.0,177.0,0,Personal Auto,SUV,686.815162
12037,California,F,High School or Below,30104.51969,0.0,94.0,0,Corporate Auto,Two-Door Car,848.737364
12038,California,F,Bachelor,4148.570285,61896.0,104.0,0,Personal Auto,SUV,461.306722
12039,California,F,Doctor,2518.743544,39317.0,64.0,0,Personal Auto,Four-Door Car,77.695607
12040,California,M,Bachelor,3843.965188,43987.0,96.0,0,Personal Auto,Four-Door Car,460.800000
12041,California,M,Master,9075.768214,37722.0,116.0,0,Personal Auto,Sports Car,158.077504
12042,California,M,Bachelor,2619.337376,78618.0,66.0,0,Corporate Auto,Two-Door Car,225.578841
12043,California,F,Bachelor,15245.25495,30205.0,195.0,0,Personal Auto,Luxury SUV,1329.957905
12044,California,M,College,2615.13922,57023.0,67.0,0,Personal Auto,Four-Door Car,250.652309
12045,California,M,College,5551.398167,36918.0,76.0,3,Personal Auto,Two-Door Car,364.800000
12046,California,M,High School or Below,6827.044423,0.0,102.0,0,Corporate Auto,SUV,956.689634
12047,California,M,High School or Below,5619.689084,0.0,153.0,0,Corporate Auto,SUV,1027.000029
12048,California,F,High School or Below,3907.028747,0.0,109.0,0,Personal Auto,SUV,666.042098
12049,California,M,College,3622.872124,0.0,108.0,0,Corporate Auto,SUV,1254.177129
12050,California,F,High School or Below,34611.37896,20090.0,109.0,0,Personal Auto,Sports Car,523.200000
12051,California,M,Bachelor,2845.520933,86631.0,73.0,1,Personal Auto,Four-Door Car,400.832857
12052,California,F,College,5500.577411,44019.0,138.0,0,Personal Auto,SUV,165.478147
12053,California,F,Bachelor,3358.532935,59367.0,84.0,0,Personal Auto,Four-Door Car,6.880385
12054,California,F,High School or Below,7501.661322,38874.0,94.0,0,Corporate Auto,Four-Door Car,331.170924
12055,California,F,College,11663.98572,0.0,107.0,0,Personal Auto,Four-Door Car,513.600000
12056,California,F,High School or Below,5133.397765,28647.0,69.0,0,Personal Auto,Four-Door Car,331.200000
12057,California,F,High School or Below,8732.090534,51205.0,72.0,0,Personal Auto,Two-Door Car,185.530076
12058,California,M,Master,9424.256842,46897.0,118.0,0,Corporate Auto,SUV,322.575677
12059,California,M,Master,5479.555081,56005.0,68.0,1,Corporate Auto,Four-Door Car,326.400000
12060,California,F,Bachelor,2114.738469,0.0,72.0,5,Personal Auto,Four-Door Car,518.400000
12061,California,F,College,4140.648654,0.0,123.0,2,Corporate Auto,SUV,590.400000
12062,California,F,College,25464.82059,13663.0,97.0,0,Personal Auto,Four-Door Car,465.600000
12063,California,F,Bachelor,5678.050167,0.0,76.0,0,Personal Auto,Four-Door Car,364.800000
12064,California,M,Master,16261.5855,60646.0,134.0,0,Personal Auto,SUV,643.200000
12065,California,M,High School or Below,19872.262,0.0,185.0,0,Personal Auto,SUV,1950.725547
12066,California,M,Bachelor,4628.995325,0.0,67.0,0,Corporate Auto,Two-Door Car,482.400000
12067,California,M,College,5032.165498,66367.0,64.0,0,Personal Auto,Two-Door Car,307.200000
12068,California,F,College,4100.398533,47761.0,104.0,0,Personal Auto,Four-Door Car,541.282007
12069,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [531]:
analysis_df['number of open complaints'].unique() # checking to see what unique values are in the 'number of open complaints column'

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan, 0,
       2, 3, 1, 5, 4], dtype=object)

In [554]:
# 1071 is where the NaN value first appears in the list.

1050    1/0/00
1051    1/0/00
1052    1/0/00
1053    1/1/00
1054    1/1/00
1055    1/2/00
1056    1/0/00
1057    1/0/00
1058    1/0/00
1059    1/0/00
1060    1/0/00
1061    1/0/00
1062    1/0/00
1063    1/0/00
1064    1/0/00
1065    1/1/00
1066    1/1/00
1067    1/2/00
1068    1/0/00
1069    1/0/00
1070    1/0/00
1071       NaN
1072       NaN
1073       NaN
1074       NaN
1075       NaN
1076       NaN
1077       NaN
1078       NaN
1079       NaN
1080       NaN
1081       NaN
1082       NaN
1083       NaN
1084       NaN
1085       NaN
1086       NaN
1087       NaN
1088       NaN
1089       NaN
1090       NaN
1091       NaN
1092       NaN
1093       NaN
1094       NaN
1095       NaN
1096       NaN
1097       NaN
1098       NaN
1099       NaN
Name: number of open complaints, dtype: object